@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  
  --color-primary: #009F50;
  --color-primary-dark: #008744;
  --color-dark: #121212;
  --color-light: #f5f5f5;
  --color-background: #ffffff;
  --color-foreground: #000000;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased font-sans;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
